@model DACN2.Models.DatTour

@{
    ViewBag.Title = "Chitietdonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chitietdonhang</h2>

<div>
    <h4>DatTour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.Ten)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDatTour }) |
    @Html.ActionLink("Back to List", "Index")
</p>
