@model IEnumerable<DACN2.Models.Chang>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenChang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDungChang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaChang)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenChang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDungChang)
            <div>
                @Html.Action("ListLichTrinh","Tour", new { id = item.MaChang })
            </div>        
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaChang)
        </td>
        
    </tr>
}

</table>
