@model IEnumerable<DACN2.Models.Chang>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenChang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDungChang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaChang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenChang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDungChang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaChang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
