@model IEnumerable<DACN2.Models.Tour>

@{
    Layout = "~/Views/Admin/View.cshtml";
}
<h2>List Tour</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayKhoiHanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoCho)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.LoaiTour.TenLoaiTour)
        </th>

       
        <th>
            @Html.DisplayNameFor(model => model.GiaNguoiLon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTreEm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </th>
 
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.TenNV)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKhoiHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoCho)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.LoaiTour.TenLoaiTour)
            </td>
            
           
            <td>
                @Html.DisplayFor(modelItem => item.GiaNguoiLon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTreEm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGian)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.TenNV)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
