@model IEnumerable<DACN2.Models.AnUong>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListAnUong</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenBuaAn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiPhi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaDiemAnUong)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenBuaAn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiPhi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDiemAnUong)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaAnUong }) |
                @Html.ActionLink("Details", "Details", new { id=item.MaAnUong }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaAnUong })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
