@model IEnumerable<DACN2.Models.LichTrinh>

@{

    Layout = "~/Views/Admin/View.cshtml";
}

<h2>ListLichTrinh</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLichTrinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaChang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaLichTrinh)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MaPhuongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaDiaDiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaAnUong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaKS)
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            @{
                item.GiaLichTrinh = (item.KSan.GiaKS + item.PhuongTien.GiaPT + item.DiaDiem.ChiPhiDD + item.AnUong.ChiPhi);
            }

            <td class="td">
                @Html.DisplayFor(modelItem => item.TenLichTrinh)
            </td>
            <td class="td">
                @Html.DisplayFor(modelItem => item.Chang.TenChang)
            </td>


            <td class="td">
                @String.Format("{0:0,0}", item.GiaLichTrinh)

            </td>

            <td class="td">
                @Html.DisplayFor(modelItem => item.PhuongTien.TenPhuongTien):
                @Html.DisplayFor(modelItem => item.PhuongTien.GiaPT)
            </td>
            <td class="td">
                @Html.DisplayFor(modelItem => item.DiaDiem.TenDiaDiem):
                @Html.DisplayFor(modelItem => item.DiaDiem.ChiPhiDD)
            </td>
            <td class="td">
                @Html.DisplayFor(modelItem => item.AnUong.TenBuaAn):
                @Html.DisplayFor(modelItem => item.AnUong.ChiPhi)
            </td>
            <td class="td">
                @Html.DisplayFor(modelItem => item.KSan.TenKhachSan)
                @Html.DisplayFor(modelItem => item.KSan.GiaKS)
            </td>
            <td style="display:flex">
                @Html.ActionLink("Edit", "Edit", new { id = item.MaLichTrinh }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaLichTrinh }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaLichTrinh })
            </td>



        </tr>


    }

</table>

